<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humitifier</title>
    <link rel="stylesheet" href="/static/out.css">

</head>

<body>
    <header id="page-header">
        <img src="/static/img/uu-rgb-black.png" alt="logo" class="logo">
        <main>
            <h1>Monitor Stuff, <br /><em>Mess up less</em></h1>
        </main>
        <aside></aside>
    </header>
    {% block content %}{% endblock %}
</body>

</html>