<section id="hosts-summary">
    <article class="stat-box ok"><strong>{{ hosts.host_count}}</strong> Hosts</article>
    <article class="stat-box critical"><a href="/?severity=critical"><strong>{{ hosts.critical_count}}</strong> Critical
            Alerts</a></article>
    <article class="stat-box warning"><a href="/?severity=warning"><strong>{{ hosts.warn_count}}</strong> Warning
            Alerts</a></article>
    <article class="stat-box info"><strong>{{ hosts.alert_count}}</strong> Total Alerts</article>
</section>