{% extends "base.jinja2" %}

{% block content %}
<main id="infra">
    {# Filters #}
    {% include "infra_index_filters.jinja2" %}

    {# Summary #}
    {% include "infra_index_summary.jinja2" %}

    {# Table #}
    {% include "infra_index_table.jinja2" %}
</main>




{% endblock %}