<section id="host-table">

    <table>
        <col style="width:80%">
        <col style="width:10%">
        <col style="width:10%">
        <thead>
            <tr>
                <th>Server</th>
                <th>Last Scan</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for host in hosts %}
            <tr>
                <td>
                    <details>
                        <summary>{{ host.fqdn }}</summary>
                        {% include "infra_index_details_table.jinja2" %}
                    </details>
                </td>
                <td class="center vtop">{{ host.facts.last_scan }}</td>
                <td class="center vtop">
                    {% if host.alert_count > 0 %}
                    <span class="badge {{host.alert_severity}}">{{ host.alert_count }} Alert(s)</span>
                    {% else %}
                    <span class="badge ok">No alerts</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </table>
</section>