<table class="host-details">
    <col style="width:20%">
    <col style="width:80%">
    <tbody>
        {# Hostname #}
        <tr>
            <td>Hostname</td>
            <td>{{ host.facts.hostname }}</td>
        </tr>

        {# Department #}
        <tr>
            <td>Department</td>
            <td>{% if host.department %}{{ host.department }}{% else %}Unknown{% endif %}</td>
        </tr>

        {% for metakey, metavalue in host.meta_props %}
        <tr>
            <td>{{ metakey }}</td>
            <td>{{ metavalue }}</td>
        </tr>
        {% endfor %}

        {# Last Scan #}
        <tr>
            <td>Last Scan</td>
            <td>{{ host.last_scan_dt_iso }}</td>
        </tr>

        {# Contact #}
        <tr>
            <td>Contact</td>
            <td>
                {% if host.contact %}
                <a href="mailto:{{ host.contact.1 }}">{{ host.contact.0 }}</a> | {{ host.contact.1 }}
                {% else %}
                Unknown
                {% endif %}
            </td>
        </tr>

        {# OS #}
        {% if host.facts.os != None %}
        <tr>
            <td>Operating System</td>
            <td>{{ host.facts.os }}</td>
        </tr>
        {% endif %}

        {# WebDav #}
        {% if host.facts.hostmeta.webdav %}
        <tr>
            <td>WebDav</td>
            <td>
                <a href="{{ host.facts.hostmeta.webdav }}">{{ host.facts.hostmeta.webdav }}</a>
            </td>
        </tr>
        {% endif %}

        {# VHosts #}
        {% if host.facts.hostmeta.vhosts %}
        <tr>
            <td>VHosts</td>
            <td>
                {% for vhost in host.facts.hostmeta.vhosts %}
                <code>{{vhost}}</code>
                <br>
                {% endfor %}
            </td>
        </tr>
        {% endif %}

        {# File Servers #}
        {% if host.facts.hostmeta.fileservers %}
        <tr>
            <td>File Servers</td>
            <td>
                {% for fileserver in host.facts.hostmeta.fileservers %}
                <ul>
                    <li><code>{{fileserver}}</code></li>
                </ul>

                {% endfor %}
            </td>
        </tr>
        {% endif %}

        {# Databases #}
        {% if host.facts.hostmeta.databases %}
        <tr>
            <td>Databases</td>
            <td>
                {% for dbtype, dbs in host.facts.hostmeta.databases.items() %}
                <ul>
                    <li><span class="badge info">{{dbtype}}</span>
                        <code>{{ ', '.join(dbs) }}</code>
                    </li>
                </ul>
                {% endfor %}
            </td>
        </tr>
        {% endif %}



        {# Uptime #}
        {% if host.facts.uptime_days %}
        <tr>
            <td>Uptime</td>
            <td>{{ host.facts.uptime_days }} Day(s)</td>
        </tr>
        {% endif %}

        {# Memory #}
        {% if host.facts.memory_label %}
        <tr>
            <td>Memory</td>
            <td>
                <div class="progress" data-label="{{host.facts.memory_label}}">
                    <span class="value" style="width:{{host.facts.memory_percentage}}%;"></span>
                </div>
            </td>
        </tr>
        {% endif %}

        {# Alerts #}
        <tr>
            <td>Alerts</td>
            <td>
                {% if host.alerts|length > 0 %}
                <ul>
                    {% for _, severity, alert in host.alerts %}
                    <li>
                        <span class="badge {{severity}}">{{ severity }}</span>{{ alert }}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                No alerts
                {% endif %}
            </td>
        </tr>

        {# Packages #}
        {% if host.facts.packages %}
        <tr>
            <td>Packages</td>
            <td>
                <details>
                    <summary>Expand...</summary>
                    {% for pkg in host.facts.packages %}
                    <span class="badge small">{{ pkg.name }}=={{ pkg.version }}</span>
                    {% endfor %}
                </details>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>