<article hx-swap-oob="innerHTML:#server-details">
    <table>
        <tbody>
            <tr>
                <td class="label">Name</td>
                <td class="value">{{ server.name }}</td>
            </tr>
            <tr>
                <td class="label">IP</td>
                <td class="value">{{ server.ip_address }}</td>
            </tr>

            <tr>
                <td class="label">Memory</td>
                <td class="value">{{ server.memory_usage }}gb / {{ server.memory_total }}gb</td>
            </tr>
            <tr>
                <td class="label">Storage</td>
                <td class="value">{{ server.local_storage_usage }}gb / {{ server.local_storage_total }}gb</td>
            </tr>
            <tr>
                <td class="label">Contact</td>
                <td class="value">
                    <ul style="list-style: none; padding:0; margin:0;">
                        {% for c in server.contact_persons %}
                        <li>{{c}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="label">Installed packages</td>
                <td class="value">
                    <ul style="list-style: none; padding:0; margin:0;">
                        {% for p in server.installed_packages %}
                        <li>
                            {% if p in server.available_updates %}
                            <mark class="requires-update">{{p}}</mark>
                            {% else %}
                            {{p}}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="label">Issues</td>
                <td class="value">
                    <ul style="list-style: none; padding:0; margin:0;">
                        {% for s, i in server.issues %}
                        <li class="issue-{{s}}">{{i}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

        </tbody>
    </table>
</article>