.venv/
.vscode/
.scribble/
__pycache__/
static/out*
static/index_prerender.html
.pytest_cache/
data/
.hypothesis/
docker-compose.yaml
.local/
.envrc
.idea
node_modules/
humitifier-scanner/build
humitifier-scanner/dist
humitifier-scanner/*.spec
humitifier-server/src/static

# Supabase
.branches
.temp
.env
*.env
