.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    img {
        height: 150px;
    }

    h1 {
        font-size: 2em;
        em {
            font-weight: lighter;
        }
    }

}