@use "../utils/modal";
@use "../utils/box";
@use "../utils/lists";
@use "../utils/button";
@use "../utils/colors";
@use "../core/typography";
@use "../core/inputs";

.details-modal {
    @include modal.modal-box;
    
    display: grid;
    grid-template-areas:
        ". table ."
        ". . exit";
    
    grid-template-columns: 1fr 8fr 1fr;
    border-radius: 2em;


    main {
        grid-area: table;
        padding: 2em;
        overflow: scroll;

        li {
            font-family: typography.$main;
            font-size: 0.75em;
            border-radius: 0.3em;
        }
    }

    button {
        @include button.hx-button;
        @include button.with-border;
        grid-area: exit;
        height: 3em;
        margin: 0 auto;
    }
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-item {
    @include box.itembox;
    @include lists.block-list;

    h3 {
        margin: 0;
    }

    button {
        @include button.hx-button;
        width: 10rem;
    }

    button[disabled] {
        background-color: #cccccc;
        color: #666666;
    }
}

.filterset {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 3em;
    margin: 0 auto;

    button {
        @include button.hx-button;
        @include inputs.input-core;

    }


}