@use "../utils/colors" as colors;
@use "../core/typography" as typography;

button {
    background-color: colors.$white;
    color: colors.$black;
    border: 2px solid colors.$yellow;
    border-radius: 0.5em;
    padding: 0.5rem 1.5rem;
    font-family: typography.$heading;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: colors.$yellow;
    }
}

