$yellow: #FFCD00;
$red: #C00A35;
$cream: #FFE6AB;
$orange: #F3965E;
$burgundy: #AA1555;
$brown: #6E3B23;
$green: #24A793;
$blue: #5287C6;
$dark-blue: #001240;
$purple: #5B2182;
$white: #FFFFFF;
$black: #000000;

// $light-black: adjust-color($black, $lightness: 90%);