@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300;400&family=Zilla+Slab:wght@300;400&display=swap');

$merriweather: 'Merriweather', serif;   
$opensans: 'Open Sans', sans-serif;
$zilla: 'Zilla Slab', serif;
