@use "../core/typography" as typography;
@use "colors";

@mixin block-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        font-style: italic;
        font-family: typography.$main;
        margin-left: 0.2em;
    }
}

ul.inline-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: left;
    align-content: top;

    li {
        margin: 0.2em;
        background-color: colors.$yellow;
        color: colors.$black;
        border: 0.1em solid colors.$black;
        padding: 0.2em 0.5em;
    }
    
}