@use "colors";
@use "../core/typography";

.progress {
    height: 1.5em;
    background-color: colors.$cream;
    position: relative;
    border-radius: 0.1rem;
    padding: 3px;
    max-width: 95%;
    max-height: 95%;
  }
  .progress:before {
    content: attr(data-label);
    font-size: 0.9em;
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
    font-weight: bolder;
    font-family: typography.$heading;
    font-style: normal;
    text-transform: uppercase;
    color: colors.$black;
  }
  .progress .value {
    background-color: colors.$yellow;
    display: inline-block;
    height: 100%;
  }

