@use "colors";
@use "../core/typography" as t;

tr.table-pair {
    color: colors.$black;
    
    border-bottom: 2px solid colors.$black;

    td {
        border: none;
    }
    td:nth-child(odd) {
 
        font-family: t.$heading;
        text-transform: uppercase;
        font-weight: bolder;
    }

    td:nth-child(even) {
        font-family: t.$subheading;
    }

}