{% macro render(label, value_list) %}
<tr class="table-pair">
    <td>{{ label }}</td>
    <td>
        <ul class="inline-list">
            {% for value in value_list %}
            <li>{{ value }}</li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% endmacro %}