{% macro render(label, description, percentage) %}
<tr class="table-pair">
    <td>{{ label }}</td>
    <td>
        <div class="progress" data-label="{{description}}">
            <span class="value" style="width:{{percentage}}%;"></span>
        </div>
    </td>
</tr>
{% endmacro %}