{% extends 'base/base_page_template.html' %}

{% block head %}
<script>
document.addEventListener("alpine:init", () => {
  Alpine.data("formset", () => ({
    init() {
      this.template = this.$root.querySelector("template");
      this.formsContainer = this.$root.querySelector(".forms");
      this.totalFormsInput = this.$root.querySelector(
        `input[name$='-TOTAL_FORMS']`
      );
      this.initialFormsInput = this.$root.querySelector(
        'input[name$="-INITIAL_FORMS"]'
      );
    },
    addForm() {
      const newForm = this.template.content.cloneNode(true);

      // replace __prefix__ with the correct index
      for (let el of newForm.querySelectorAll("input, select, textarea")) {
        if (el.name.includes("__prefix__")) {
          el.name = el.name.replace(
            "__prefix__",
            this.formsContainer.children.length - 1
          );
        }
        if (el.id.includes("__prefix__")) {
          el.id = el.id.replace(
            "__prefix__",
            this.formsContainer.children.length - 1
          );
        }
      }
      const labels = newForm.querySelectorAll("label");
      for (let el of labels) {
        if (el.htmlFor.includes("__prefix__")) {
          el.htmlFor = el.htmlFor.replace(
            "__prefix__",
            this.formsContainer.children.length - 1
          );
        }
      }

      // add the new form to the dom
      this.formsContainer.appendChild(newForm);

      // adjust the management form inputs
      this.totalFormsInput.value = parseInt(this.totalFormsInput.value) + 1;
    },
  }));
});
</script>
{% endblock %}

{% block content %}
    <div class="h-full--header w-full bg-default px-7 py-5">
        <h1 class="text-2xl font-bold">
            {% if object %}Edit scan specifications{% else %}Create scan specifications{% endif %}
        </h1>

        <div class="flex flex-col lg:flex-row gap-8 mt-8">
            <div class="max-w-xl w-full">
                <div class="bg-white dark:bg-gray-900 rounded-md border border-gray-200 dark:border-gray-700 overflow-hidden">
                    <div class="px-4 py-2.5 bg-gray-50 dark:bg-gray-800/60 border-b border-gray-200 dark:border-gray-800 font-semibold text-sm">
                        Specification details
                    </div>
                    <div class="p-4 text-sm">
                        <form method="post" x-data="formset">
                            {% csrf_token %}

                            {{ form }}

                            {% if object %}
                                {{ formset.management_form }}

                                <div class="flex items-center gap-3 mb-3 mt-8">
                                    <h3 class="text-sm font-bold uppercase tracking-widest text-gray-500 dark:text-gray-400">
                                        Individual artefacts
                                    </h3>
                                    <div class="h-px grow bg-gray-300 dark:bg-gray-700"></div>
                                </div>

                                <div class="forms flex flex-col gap-3">
                                    {% for subform in formset %}
                                        <div class="rounded-md bg-gray-50 dark:bg-gray-800/60 p-3 border border-gray-200 dark:border-gray-700">
                                            {{ subform }}
                                        </div>
                                    {% endfor %}

                                    <template>
                                        <div class="rounded-md bg-gray-50 dark:bg-gray-800/60 p-3 border border-gray-200 dark:border-gray-700">
                                            {{ formset.empty_form }}
                                        </div>
                                    </template>
                                </div>
                                <div class="flex w-full justify-end mt-3">
                                    <button class="btn btn-sm btn-secondary" type="button" @click="addForm()">Add form</button>
                                </div>
                            {% endif %}

                            <div class="flex gap-2 mt-8">
                                <button type="submit"
                                        class="btn btn-sm btn-primary">
                                    Confirm
                                </button>
                                <a href="{% url 'scanning:scan_specs' %}"
                                   class="btn btn-sm btn-secondary">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {# Add a fake form to display the parents value #}
            {% if object and object.parent %}
                <div class="grow lg:max-w-md">
                    <div class="bg-white dark:bg-gray-900 rounded-md border border-gray-200 dark:border-gray-700 overflow-hidden">
                        <div class="px-4 py-2.5 bg-gray-50 dark:bg-gray-800/60 border-b border-gray-200 dark:border-gray-800 font-semibold text-sm">
                            Parent information
                        </div>
                        <div class="p-4 text-sm">
                            <div class="grid grid-cols-1 md:grid-cols-[1fr_2fr] items-top gap-y-1.5 gap-x-3 text-sm">
                                <div class="font-semibold text-gray-600 dark:text-gray-300">Name</div>
                                <div>{{ object.parent.name }}</div>

                                {% if object.parent.parent %}
                                    <div class="font-semibold text-gray-600 dark:text-gray-300">Parent</div>
                                    <div>{{ object.parent.parent.name }}</div>
                                {% endif %}

                                <div class="font-semibold text-gray-600 dark:text-gray-300">Artefact groups</div>
                                <div>{{ object.parent.get_artefact_groups_display }}</div>

                                <div class="font-semibold text-gray-600 dark:text-gray-300">Individual artefacts</div>
                                <div>{{ object.parent.get_artefacts_display }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
