{% extends 'base/base_page_template.html' %}

{% block content %}
    <div class="h-full--header w-full bg-default px-7 py-5">
        <h1 class="text-2xl font-bold">
            {% if object %}Edit costs scheme{% else %}Create new costs scheme{% endif %}
        </h1>

        <div class="mt-8 lg:max-w-xl">
            <div class="bg-white dark:bg-gray-900 rounded-md border border-gray-200 dark:border-gray-700 overflow-hidden">
                <div class="px-4 py-2.5 bg-gray-50 dark:bg-gray-800/60 border-b border-gray-200 dark:border-gray-800 font-semibold text-sm">
                    Scheme details
                </div>
                <div class="p-4 text-sm">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}

                        <div class="flex gap-2 mt-6">
                            <button type="submit" class="btn btn-sm light:btn-primary dark:btn-outline">
                                Confirm
                            </button>
                            <a href="{% url 'reporting:costs_list' %}" class="btn btn-sm btn-outline">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
