{% extends 'base/base_page_template.html' %}

{% block page_title %}New server cost report | {{ block.super }}{% endblock %}

{% block content %}
    <div class="h-full--header w-full bg-default py-5">
        <div class="px-7 mb-5">
            <h1 class="text-3xl font-bold">New server cost report</h1>

            <div class="mt-5 flex gap-6">
                <div class="lg:w-96">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}

                        <div class="flex gap-2 mt-6">
                            <button type="submit"
                                    class="btn light:btn-primary dark:btn-outline">
                                Generate report
                            </button>
                            <a href="{% url 'reporting:report_list' %}"
                               class="btn btn-outline">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
