{% extends 'base/base_page_template.html' %}

{% block content %}
    <div class="h-full--header w-full bg px-7 py-5 ">
        <h1 class="text-3xl font-bold">Delete costs scheme</h1>
        <p class="mt-6">
            Are you sure you want to delete the costs scheme "{{ object }}"?
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="flex gap-2 mt-6">
                <a href="{% url 'reporting:costs_list' %}" class="btn btn-outline">
                    Cancel
                </a>
                <button type="submit" class="btn btn-danger">
                    Confirm
                </button>
            </div>
        </form>
    </div>
{% endblock %}
