{% extends "base/base_page_template.html" %}

{% load humanize %}
{% load param_replace %}

{% block page_title %}Server cost reports | {{ block.super }}{% endblock %}

{% block content %}
    <div class="h-full--header w-full bg-default transition ease-in-out duration-150">
        <div class="px-7 py-5 flex justify-between items-center">
            <h1 class="text-2xl font-bold">Server cost reports</h1>
            <div class="flex gap-3 text-sm">
                <a class="btn btn-sm light:btn-primary dark:btn-outline" href="{% url 'reporting:server_cost_report' %}">
                    New report
                </a>
            </div>
        </div>

        {{ table.render }}
    </div>
{% endblock %}
