{% extends 'base/base_page_template.html' %}

{% block content %}
    <div class="h-full--header w-full bg px-7 py-5">
        {% if object %}
            <h1 class="text-3xl font-bold">Edit data source</h1>
        {% else %}
            <h1 class="text-3xl font-bold">Create new data source</h1>
        {% endif %}

        <form method="post" class="max-w-xl mt-8">
            {% csrf_token %}
            {{ form }}

            <div class="flex gap-2 mt-6">
                <a href="{% url 'hosts:data_sources' %}" class="btn btn-outline">
                    Cancel
                </a>
                <button type="submit" class="btn light:btn-primary dark:btn-outline">
                    Confirm
                </button>
            </div>
        </form>
    </div>
{% endblock %}
