{% extends "base/base_page_template.html" %}

{% load humanize %}
{% load param_replace %}

{% block page_title %}Hosts | {{ block.super }}{% endblock %}

{% block content %}
    <div class="h-full--header w-full bg transition ease-in-out duration-150">
        <div class="px-7 py-5 flex justify-between">
            <h1 class="text-3xl font-bold">Export host data</h1>
        </div>
        <p class="px-7 pt-5">
            Here you can export the host data in either CSV or host-list format. You can filter the data before exporting.<br/>
            CSV's contain hostname, os, department, customer, contact, creation date, archival data and last seen date. Host-lists contain only the hostname.
        </p>
        <div class="px-7 py-5 flex justify-between">
            <h1 class="text-xl font-bold">Filters</h1>
        </div>
        <form method="post" class="px-7 flex flex-col gap-3 max-w-xl">
            {% csrf_token %}
            {{ filterset.form }}
            <div class="flex gap-2 w-full">
                <button class="btn light:btn-primary dark:btn-outline flex-grow" type="submit" name="csv">
                    Export as CSV
                </button>
                <button class="btn light:btn-primary dark:btn-outline flex-grow" type="submit" name="host-list">
                    Export as host-list
                </button>
            </div>
        </form>
    </div>
{% endblock %}
