{% extends 'base/base_page_template.html' %}

{% block content %}
    <div class="h-full--header w-full bg px-7 py-5">
        {% if object %}
            <h1 class="text-3xl font-bold">Edit host</h1>
        {% else %}
            <h1 class="text-3xl font-bold">Create new host</h1>
        {% endif %}

        <form method="post" class="max-w-xl mt-8">
            {% csrf_token %}
            {{ form }}

            <div class="flex gap-2 mt-6">
                {% if object %}
                    <a href="{% url 'hosts:detail' object.fqdn %}" class="btn btn-outline">
                        Cancel
                    </a>
                {% else %}
                    <a href="{% url 'hosts:list' %}" class="btn btn-outline">
                        Cancel
                    </a>
                {% endif %}
                <button type="submit" class="btn light:btn-primary dark:btn-outline">
                    Confirm
                </button>
            </div>
        </form>
    </div>
{% endblock %}
