<div class="p-3 columns-1 lg:columns-2 xl:columns-2 2xl:columns-3 ultrawide:columns-4 gap-3">
    <div class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/host_meta.html' %}
    </div>
    {% if scan_data.HostMeta and scan_data.HostMeta.vhosts %}
        <div  class="break-inside-avoid mb-3">
            {% include 'hosts/scan_visualizer/v1/vhosts.html' %}
        </div>
    {% endif %}
    {% if scan_data.HostMeta and scan_data.HostMeta.databases %}
        <div  class="break-inside-avoid mb-3">
            {% include 'hosts/scan_visualizer/v1/databases.html' %}
        </div>
    {% endif %}
    <div  class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/blocks.html' %}
    </div>
    <div  class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/memory.html' %}
    </div>
    <div class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/packages.html' %}
    </div>
    <div class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/users.html' %}
    </div>
    <div class="break-inside-avoid mb-3">
        {% include 'hosts/scan_visualizer/v1/groups.html' %}
    </div>
</div>
