{% load host_tags %}

<div class="section" x-data="{search: ''}">
    <div class="flex justify-between items-top mb-4">
        <div class="font-bold text-xl">Users</div>
        <input placeholder="Search" class="input w-1/2" x-model="search">
    </div>

    <div class="max-h-[50vh] overflow-y-auto">
        {% for user in scan_data.Users %}
            <div class="rounded bg-gray-200 dark:bg-gray-800 p-3 mb-3 last:mb-0" x-data="{searchValue: '{{ user.name }} {{ user.info }}'}" x-bind:class="searchValue.includes(search) ? '' : 'hidden' ">
                <div class="font-semibold">{{ user.name }}</div>
                <div class="text-gray-700 dark:text-gray-400">
                    {% if user.info %}
                        <div>Info: {{ user.info }}</div>
                    {% endif %}
                    <div>Group-id: {{ user.gid }}</div>
                    <div>User-id: {{ user.uid }}</div>
                    <div>Homedir: {{ user.home }}</div>
                    <div>Shell: {{ user.shell }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>