{% load is_checkbox %}

<div class="mb-2">
    {% if field.field.widget|is_checkbox %}
        <label class="flex gap-2 font-bold">
            {{ field }}
            <span>{{ field.label }}</span>
        </label>
        <div class="text-gray-500 mb-3">
            {{ field.help_text }}
        </div>
    {% else %}
        {% if field.label %}
            <label class="block font-bold">{{ field.label }}</label>
        {% endif %}
        <div class="text-gray-500 mb-3">
            {{ field.help_text }}
        </div>
        <div>
            {{ field }}
        </div>
    {% endif %}
</div>