<div class="bg-white dark:bg-gray-900 rounded-md border border-gray-300 dark:border-gray-700 overflow-hidden break-inside-avoid mb-3 transition duration-150" x-data="{ collapsed: false, {% for setting, value in alpinejs_settings.items %}{{ setting }}: {{ value }},{% endfor %} }">

    <div
        class="flex justify-between items-center gap-3 px-4 py-2.5 bg-white dark:bg-gray-800/60 hover:bg-gray-50 dark:hover:bg-gray-800 border-gray-300 dark:border-gray-800 cursor-pointer select-none transition duration-150"
        x-bind:class="collapsed ? '' : 'border-b'"
        @click="collapsed = !collapsed"
    >
        <div class="font-semibold text-sm truncate">{{ title }}</div>
        {% block header %}{% endblock %}
        <div class="flex gap-2 text-gray-400 dark:text-gray-500 shrink-0">
            <div>
                <div x-show="collapsed">
                    {% with icon_size='size-4' %}
                        {% include 'icons/chevron-up.html' %}
                    {% endwith %}
                </div>
                <div x-show="!collapsed">
                    {% with icon_size='size-4' %}
                        {% include 'icons/chevron-down.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 text-sm" x-bind:class="collapsed ? 'h-0 p-0! overflow-hidden' : ''">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>
