{% extends 'hosts/scan_visualizer/components/base_component.html' %}

{% block header %}
    {% if show_search %}
        <input
            placeholder="{{ search_placeholder }}"
            class="input w-1/2 py-1 ml-auto"
            x-model="search"
            @click.stop
        >
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <div class="max-h-[50vh] overflow-y-auto">
            {% for item in data %}
                {% include "hosts/scan_visualizer/components/fragments/card.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
