{% extends 'hosts/scan_visualizer/components/base_component.html' %}

{% load host_tags %}

{% block content %}
    <div class="font-semibold mb-2">ZFS Pools</div>
    <div class="grid grid-cols-[repeat(auto-fit,1fr)] center rounded-sm bg-gray-100 dark:bg-gray-800 p-3 mb-3 border border-gray-300 dark:border-gray-700 ">
        {% for pool in zfs.pools %}
            {% widthratio pool.used_mb pool.size_mb 100 as percentage %}
            {% with label_1=pool.name used=pool.used_mb|size_from_mb total=pool.size_mb|size_from_mb percentage=percentage %}
                {% include 'hosts/scan_visualizer/components/fragments/bar.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="font-semibold my-2">ZFS volumes</div>
    <div class="grid grid-cols-[repeat(auto-fit,1fr)] center overflow-y-auto max-h-64 rounded-sm bg-gray-100 dark:bg-gray-800 p-3 mb-3 border border-gray-300 dark:border-gray-700 ">
        {% for volume in zfs.volumes %}
            {% widthratio volume.used_mb volume.size_mb 100 as percentage %}
            {% with label_1=volume.name used=volume.used_mb|size_from_mb total=volume.size_mb|size_from_mb percentage=percentage %}
                {% include 'hosts/scan_visualizer/components/fragments/bar.html' %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
