{% extends 'base/base_html_template.html' %}
{% load static %}
{% load param_replace %}

{% block page_title %}Login {{ block.super }}{% endblock %}


{% block body %}
    <div class="w-dvw h-dvh flex flex-col items-center lg:justify-center">

        <section class="flex flex-col lg:flex-row gap-8 items-center lg:justify-between w-full lg:w-[60rem] h-full lg:h-auto bg-gray-50 dark:bg-gray-800 p-8 rounded">
            <div class="flex items-center justify-center gap-3">
                <img
                    src="{% static 'main/img/cm_hs_avatar_corporate.png' %}"
                    alt="UU Logo"
                    class="w-24 h-24"
                />
                <div>
                <div class="text-4xl font-semibold">
                    Humitifier
                </div>
                    <div class="text-gray-600 dark:text-gray-400">
                        Humanities IT Services CMDB
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-96" x-data="{ show_manual_login: {% if layout.oidc_enabled or form.errors %}false{% else %}true{% endif %} }">
                <h1 class="text-3xl font-semibold mb-10">Login</h1>

                {% if user.is_authenticated  %}
                    <p class="text-orange mb-10">
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                    </p>
                {% else %}
                    <p class="mb-10">
                        This application requires authentication. Please login to continue.
                    </p>
                {% endif %}

                {% if form.errors %}
                    <p class="text-red-500 mb-4">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if layout.oidc_enabled %}
                    <a href="{% url 'oidc_authentication_init' %}?{% param_replace %}" class="btn block light:btn-primary dark:btn-outline dark:bg-gray-700 text-center">
                        Login with Solis-ID
                    </a>

                    <div class="flex items-center gap-2 mt-3 mb-3">
                        <div class="h-px bg-gray-600 dark:bg-gray-500 flex-grow"></div>
                        <div>or</div>
                        <div class="h-px bg-gray-600 dark:bg-gray-500 flex-grow"></div>
                    </div>
                {% endif %}

                <button class="btn block light:btn-primary dark:btn-outline dark:bg-gray-700 text-center w-full" x-show="!show_manual_login" @click="show_manual_login = true">
                    Login with local account
                </button>
                <form method="post" action="{% url 'main:login' %}" class="flex gap-4 flex-col" x-show="show_manual_login">
                    {% csrf_token %}
                    <div class="">
                        <label class="font-bold block mb-2">
                            {{ form.username.label_tag }}
                        </label>
                        <div class="">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="">
                        <label class="font-bold block mb-2">
                            {{ form.password.label_tag }}
                        </label>
                        <div class="">
                            {{ form.password }}
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button class="btn light:btn-primary dark:btn-outline dark:bg-gray-700 mt-4" type="submit">
                        Login
                    </button>
                </form>

            </div>
        </section>
    </div>
{% endblock %}
