<div class="sticky z-20 top-0 flex items-center gap-2 w-full h-14 backdrop-blur-sm bg-yellow-400/80 dark:bg-black/50 px-4 border-b border-yellow-200 dark:border-gray-800 transition ease-in-out duration-150">

    <div class="md:hidden mr-2 p-2 -ml-2 rounded-md text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-700 dark:hover:text-gray-200 cursor-pointer transition duration-150" @click="show_sidebar = !show_sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
        </svg>
    </div>

    <form action="{% url 'hosts:list' %}" method="get" class="flex items-center w-full max-w-md">
        <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>
            </div>
            <input placeholder="Search hosts..."
                   class="w-full pl-9 pr-3 py-2 text-sm bg-white/50 dark:bg-black/80 text-gray-700 dark:text-gray-50 placeholder-gray-600 dark:placeholder-gray-400 border border-white dark:border-gray-700 rounded-sm focus-visible:outline-hidden focus-visible:border-primary dark:focus-visible:border-primary focus-visible:ring-2 focus-visible:ring-primary/30 focus:bg-white dark:focus:bg-gray-800 transition duration-150"
                   name="fqdn">
        </div>
    </form>


    {% if debug %}
        <div class="ml-auto mr-auto grow-0 bg-red-700 px-20 py-2 text-center text-white font-bold rounded-full hidden md:block">
            DEBUG MODE
        </div>
    {% endif %}

    <div class="ml-auto shrink-0 flex items-center" x-data="{}">
        <div class="hidden dark:block p-2 rounded-md text-primary hover:bg-gray-800 hover:text-gray-200 cursor-pointer transition duration-150" @click="localStorage.theme = 'light';setTheme();">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"/>
            </svg>
        </div>
        <div class="dark:hidden p-2 rounded-md text-gray-800 hover:bg-gray-100 hover:text-gray-700 cursor-pointer transition duration-150" @click="localStorage.theme = 'dark';setTheme();">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"/>
            </svg>
        </div>
    </div>

    <div class="h-6 border-l border-gray-700 dark:border-gray-700 shrink-0"></div>

    <div class="pl-2 pr-3 py-1.5 flex items-center gap-2.5 rounded-md text-sm font-semibold cursor-pointer relative shrink-0 text-nowrap hover:bg-gray-100 dark:hover:bg-gray-800 transition duration-150" x-data="{show_dropdown: false}"
         @click="show_dropdown = !show_dropdown">
        <div class="size-7 shrink-0 rounded-full bg-black text-white dark:bg-primary dark:text-black text-xs font-bold flex items-center justify-center select-none">
            {{ user.get_full_name|slice:":1"|upper }}
        </div>
        {{ user.get_full_name }}
        <div class="text-gray-700 dark:text-gray-200">
            <div x-show="show_dropdown">
                {% with icon_size='size-4' %}
                    {% include 'icons/chevron-up.html' %}
                {% endwith %}
            </div>
            <div x-show="!show_dropdown">
                {% with icon_size='size-4' %}
                    {% include 'icons/chevron-down.html' %}
                {% endwith %}
            </div>
        </div>
        <div class="absolute min-w-40 bg-white dark:bg-gray-800 top-full mt-2 right-0 z-50 rounded-md border border-gray-200 dark:border-gray-700 shadow-lg overflow-hidden flex-col hidden" x-bind:class="show_dropdown ? 'flex!' : 'hidden'">
            <a href="{% url 'main:user_profile' %}" class="px-4 py-2.5 text-sm hover:bg-gray-100 dark:hover:bg-gray-700 border-b border-gray-200 dark:border-gray-700 text-center">Profile</a>
            {% if user.is_local_user %}
                <a href="#" class="px-4 py-2.5 text-sm hover:bg-gray-100 dark:hover:bg-gray-700 border-b border-gray-200 dark:border-gray-700 text-center">Set password</a>
            {% endif %}
            <form action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout" class="px-4 py-2.5 text-sm w-full hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer">
            </form>
        </div>
    </div>
</div>
