{% load param_replace %}

<div class="flex justify-between items-center xl:items-end flex-col xl:flex-row gap-3">
    <div class="flex gap-2">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}" class="btn btn-sm light:btn-primary dark:btn-outline">First</a>
                {% if page_obj.number != 1 %}
                    <a href="?{% param_replace page=page_obj.previous_page_number %}" class="btn btn-sm light:btn-primary dark:btn-outline">Previous</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div>
        Total items: {{ paginator.count }} |
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
    </div>

    <div class="flex gap-2">
        {% if is_paginated %}
            {% if page_obj.has_next %}
                {% if page_obj.number != paginator.num_pages %}
                    <a href="?{% param_replace page=page_obj.next_page_number %}"
                       class="btn btn-sm light:btn-primary dark:btn-outline">Next</a>
                {% endif %}
                <a href="?{% param_replace page=paginator.num_pages %}" class="btn btn-sm light:btn-primary dark:btn-outline">Last</a>
            {% endif %}
        {% endif %}
    </div>

</div>