{% load static %}
{% load humanize %}
{% load simple_menu %}

<aside class="fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full md:translate-x-0 bg-black text-white overflow-y-auto" x-bind:class="show_sidebar ? 'translate-x-0' : ''">
    <div class="md:hidden cursor-pointer p-4 flex justify-end" @click="show_sidebar = false">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </div>

    <section class="w-100 p-4 flex items-center gap-4">
        {% if layout.wild_wasteland %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Cat_python.png" alt="By Victor Alfredo Torres Ramirez, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons" class="h-14">
        {% else %}
            <img src="{% static 'main/img/cm_hs_avatar_corporate.png' %}" alt="Utrecht University" class="h-14">
        {% endif %}
        <div>
            <div class="text-2xl font-bold">Humitifier</div>
            <div class="text-sm italic">{{ layout.tag_line }}</div>
        </div>
    </section>

    <div class="flex justify-between px-4 font-semibold">
        <a class="flex items-center gap-2 py-1.5 text-primary" href="{% url 'hosts:list' %}">
            {% with stroke="stroke-2" %}
                {% include 'icons/host.html' %}
            {% endwith %}
            {{ layout.num_hosts|intcomma }}
        </a>
        {# Visual separator #}
        <div class="py-1.5">
            <div class="border-l border-gray-700 h-full"></div>
        </div>
        <a class="text-blue-300 flex items-center gap-2 py-1.5" href="{% url 'hosts:list' %}?alert_severity=info">
            {% include 'icons/info.html' %}
            {{ layout.num_info_alerts|intcomma }}
        </a>
        <a class="text-orange-500 flex items-center gap-2 py-1.5" href="{% url 'hosts:list' %}?alert_severity=warning">
            {% include 'icons/warning.html' %}
            {{ layout.num_warning_alerts|intcomma }}
        </a>
        <a class="text-red-500 flex items-center gap-2 py-1.5" href="{% url 'hosts:list' %}?alert_severity=critical">
            {% include 'icons/critical.html' %}
            {{ layout.num_critical_alerts|intcomma }}
        </a>
    </div>
    <section class="p-3 overflow-y-auto">
        {% block menu %}
            {% generate_menu %}
            {% with menu_items=menus.main %}
                {% include 'base/page_parts/sidebar_menu.html' %}
            {% endwith %}
        {% endblock %}
    </section>
    <div class="p-3 mt-4 text-center text-gray-400">
        Humitifier {{ layout.humitifier_version }}
    </div>
</aside>
