{% extends 'base/base_page_template.html' %}

{% block content %}
    <div class="h-full--header w-full bg-default px-7 py-5">
        <h1 class="text-2xl font-bold">Set password</h1>

        <div class="mt-8 max-w-2xl bg-white dark:bg-gray-900 rounded-md border border-gray-200 dark:border-gray-700 overflow-hidden transition duration-150">
            <div class="px-4 py-2.5 bg-gray-50 dark:bg-gray-800/60 border-b border-gray-200 dark:border-gray-800 font-semibold text-sm">
                New password for <strong>{{ object }}</strong>
            </div>
            <div class="p-6 text-sm">
                <form method="post">
                    {% csrf_token %}
                    <div class="space-y-4">
                        {{ form }}
                    </div>
                    <div class="flex gap-2 mt-8">
                        <a href="{% url 'main:users' %}" class="btn btn-sm btn-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-sm btn-primary">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
