{% extends "base/base_page_template.html" %}

{% load humanize %}
{% load param_replace %}

{% block page_title %}Users | {{ block.super }}{% endblock %}

{% block content %}
    <div class="h-full--header w-full bg-default transition ease-in-out duration-150">
        <div class="px-7 py-5 flex justify-between">
            <h1 class="text-3xl font-bold">Users</h1>
            <div class="flex gap-3 text-sm">
                <a
                    href="{% url 'main:create_user' %}"
                    class="btn light:btn-primary dark:btn-outline"
                >
                    New {% if layout.oidc_enabled %}local {% endif %}user
                </a>
                {% if layout.oidc_enabled %}
                    <a
                        href="{% url 'main:create_solis_user' %}"
                        class="btn light:btn-primary dark:btn-outline"
                    >
                        New Solis user
                    </a>
                {% endif %}
            </div>
        </div>

        {{ table.render }}
    </div>
{% endblock %}
