{% import "components/server/meta_table.jinja" as mtable %}
{% import "components/server/contract_table.jinja" as ctable %}


{% macro render_server_modal(server) %}
<div class="modal-wrap">
    <article class="server-details-modal">
        <main>{{ mtable.render(server) }}</main>
        <aside>{{ ctable.render(server.service_contract) }}</aside>
        <button hx-swap="none" hx-get="/hx-clear/hx-modal"
            hx-trigger="click, keyup[key=='Escape'] from:body">Close</button>
    </article>
</div>

{% endmacro %}

{% macro render_empty_modal() %}
<article id="hx-modal"></article>
{% endmacro %}