{% import "macros/filter_search.jinja" as search %}
{% import "macros/filter_select.jinja" as select %}
{% import "macros/trigger_string.jinja" as tx %}

{% macro render(filters) %}
<form class="server-filters" hx-get="/hx-filter-interactive-server-grid" hx-swap="none"
    hx-trigger="submit, {{ tx.render(0, ['purpose', 'os', 'department'])}} {{ tx.render(0.25, ['hostname', 'owner', 'package', 'contact', 'issue', 'entity']) }}">
    {{ search.render("hostname", filters.hostname) }}
    {{ search.render("package", filters.package) }}
    {{ search.render("owner", filters.owner) }}
    {{ search.render("contact", filters.people) }}
    {{ select.render("purpose", filters.purpose) }}
    {{ select.render("os", filters.os) }}
    {{ select.render("entity", filters.entity) }}
    {{ select.render("issue", filters.issue) }}
</form>
{% endmacro %}