{% macro render_item(server) %}
<article class="server-grid-item">
    <header>
        <h3>{{ server.hostname }}</h3>
    </header>
    <ul>
        <li>{{ server.ip_address }}</li>
        <li>{{ server.os }}</li>
    </ul>
    <footer>
        <button hx-swap="none" hx-get="/hx-server-details/{{ server.hostname }}">Details</button>
        {% if server.issues %}
        <button hx-swap="none" hx-get="/hx-server-issues/{{ server.hostname }}">
            {{ server.issues|length }} Issue(s)
        </button>
        {% else %}
        <button disabled>No Issues!</button>
        {% endif %}
    </footer>

</article>
{% endmacro %}

{% macro render_grid(servers) %}
<section class="server-grid">
    {% for server in servers %}
    {{ render_item(server) }}
    {% endfor %}
</section>
{% endmacro %}