{% macro search_input(id, label, options, value) %}
<label for="{{ id }}">{{ label }}</label>
<input list="{{ id }}-suggestions" id="{{ id }}" type="text" name="{{ id }}" placeholder="{{ label }}"
    value="{{ value or '' }}" />
<datalist id="{{ id }}-suggestions">
    {% for opt in options|sort %}
    <option value="{{ opt }}">{{ opt }}</option>
    {% endfor %}
</datalist>
{% endmacro %}

{% macro select_input(id, label, options, value) %}
<label for="{{ id }}">{{ label }}</label>
<select id="{{ id }}" name="{{ id }}">
    <option value="">{{ label }}</option>
    {% for opt in options|sort %}
    <option value="{{ opt }}" {% if opt==value %}selected{% endif %}>{{ opt }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro host_filter_form(filters)%}
<form get="/">
    <h2>Filters</h2>
    {% for f in filters%}
    {% if f.typ == 'search'%}
    {{ search_input(f.id, f.label, f.options, f.value) }}
    {% elif f.typ == 'select' %}
    {{ select_input(f.id, f.label, f.options, f.value) }}
    {% else %}
    {% endif %}
    {% endfor %}
    <button type="submit">Filter</button>
    <a href="/"><button type="button">Clear filters</button></a>
</form>
{% endmacro %}


{% macro table_kv_text(label, value) %}
<tr>
    <td>{{ label }}</td>
    <td>{{ value or "Unknown" }}</td>
</tr>
{% endmacro %}

{% macro table_kv_contact(email) %}
<tr>
    <td>Contact</td>
    <td>
        {% if email %}
        <a href="mailto:{{ email }}">{{ email }}</a>
        {% else %}
        Unknown
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro table_kv_code(label, code) %}
<tr>
    <td>{{ label }}</td>
    <td>
        {% if code %}
        <code>{{ code }}</code>
        {% else %}
        Unknown
        {% endif %}
    </td>
</tr>
{% endmacro %}


{% macro table_kv_db(databases) %}
<tr>
    <td>Databases</td>
    <td>
        {% if databases %}
        {% for dbtype, dbs in databases.items() %}
        <ul>
            <li><span class="badge info">{{dbtype}}</span>
                <code>{{ ', '.join(dbs) }}</code>
            </li>
        </ul>
        {% endfor %}
        {% else %}
        Unknown
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro table_kv_alerts(alerts) %}
<tr>
    <td>Alerts</td>
    <td>
        {% if alerts|length > 0 %}
        <ul>
            {% for _, severity, alert in alerts %}
            <li>
                <span class="badge {{severity}}">{{ severity }}</span>{{ alert }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        No alerts
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro table_kv_packages(packages) %}
<tr>
    <td>Packages</td>
    <td>
        {% if packages %}
        <details>
            <summary>Expand...</summary>
            {% for pkg in packages %}
            <span class="badge small">{{ pkg.name }}=={{ pkg.version }}</span>
            {% endfor %}
        </details>
        {% else %}
        Unknown
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro table_host_details(host) %}
<table class="host-details">
    <col style="width:20%">
    <col style="width:80%">
    <tbody>
        {{ table_kv_text("Hostname", host.hostname) }}
        {{ table_kv_text("Department", host.department) }}
        {{ table_kv_contact(host.contact) }}
        {{ table_kv_text("OS", host.os) }}
        {{ table_kv_code("WebDAV", host.webdav) }}
        {{ table_kv_code("VHosts", host.vhosts|string) }}
        {{ table_kv_code("File Servers", host.fileservers|string) }}
        {{ table_kv_db(host.databases) }}
        {{ table_kv_alerts(host.alerts) }}
        {{ table_kv_packages(host.packages) }}
    </tbody>
</table>
{% endmacro %}

{% macro table_host_list(hosts) %}
<table>
    <col style="width:85%">
    <col style="width:15%">
    <thead>
        <tr>
            <th>Server</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for host in hosts %}
        <tr>
            <td>
                <details>
                    <summary>{{ host.fqdn }}</summary>
                    {{ table_host_details(host) }}
                </details>
            </td>
            <td class="center vtop">
                {% if host.alerts|length > 0 %}
                <span class="badge warning">{{ host.alerts|length }} Alert(s)</span>
                {% else %}
                <span class="badge ok">No alerts</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
</table>
{% endmacro %}

{% macro stat_box(label, count, severity, href) %}
<article class="stat-box {{severity}}">
    {% if href %}
    <a href="/?{{ href }}"><strong>{{ count }}</strong>{{ label }}</a>
    {% else %}
    <strong>{{ count }}</strong>{{ label }}
    {% endif %}
</article>
{% endmacro %}